.pageWrapper {
  min-height: 100vh;
}
.contentArea {
  flex-grow: 1;
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
  border-radius: $card-border-radius;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}

.table>:not(:first-child) {
  border-top: 2px solid;
}

.table-borderless>:not(:first-child) {
  border-top-width: 0;
}

.welcome-text {
font-size: $headings-font-size;
font-weight: $body-font-weight;
color: $white;
}

.welcome-text:hover{
color: $white;
}

.navbar-brand {
  margin-right: 0px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: unset;
}

.btn-primary {
  border-color: transparent !important;
  background:  $gradient !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-secondary {
  color: $primary !important;
  background-color: $white !important;
  border-color: $primary !important;
} 

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus  {
  background-color: $modal-btn-hover-bg-color !important;
  border-color: $primary !important;
  color: $primary !important;
}

.table-actions-button {
  pointer-events: visible ;
  color: $button-actions;
  cursor: pointer;
  font-weight: $headings-font-weight;
}

.table-actions-button:hover {
  // color: #008BCE;
  opacity: 90%;
}

.event-card {
  border-radius: 12px;
  width: 80px;
  height: 80px;
  background: $gradient;               
}

.event-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 450px;
}

.custom-event-container {
  border: 1px solid rgba(242, 105, 36, 0.2);
  border-radius: 8px;
}

.custom-event-container input.count {
  border: 1px solid #C9CAC8;
  border-radius: 4px;
  padding: 6px;
  width: 10%;
  text-align: center;
}

.custom-event-container input.count {
  border: 1px solid #C9CAC8;
  border-radius: 4px;
  padding: 6px;
  width: 10%;
  text-align: center;
}

.custom-event-container input:active, .custom-event-container input:focus {
  outline: none !important;
}

//to hide number arrows
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.custom-event-container i {
  cursor: pointer;
  pointer-events: all;
}

.custom-event-container i.disabled {
  opacity: 50%;
  border-radius: 10px;
  background-color: #dee2e6;
  padding: 1px;
}

.custom-event-container span {
  background-color: $gray-300;
  pointer-events: visible;
  cursor: pointer;
}
.custom-event-container span:active,.custom-event-container span:focus {
  background-color: $primary;
}

.custom-table {
  border: 1px solid $table-border-color;
  border-radius: 4px;
}
.custom-table>thead {
  border-bottom: 1px solid $table-border-color;
}

.custom-table>tbody>tr>td {
  border-left: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
}

.custom-table>tbody>tr>td:first-child,.custom-table>tbody>tr>td:last-child {
  border-left: none;
  border-right: none;
}

.custom-table>tbody>tr:last-child{
  border-bottom : none
}

.custom-table>tbody>tr>th {
  border-left: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

.custom-table>tbody>tr>td>span {
  font-weight: $headings-font-weight;
  position: relative;
  left: 20%;
}

.custom-table > :not(caption) > * > * {
  padding: 1rem 1rem;
}

.custom-table > tbody > tr > td:first-child {
  border-right: 1px solid $table-border-color;
}

.buttons {
  width: $btn-width;
  height: $btn-height;
  border-radius: $btn-border-radius;
  // background-image: $gradient !important;
}

.jrlg-buttons {
  width: $jrlg-btn-width;
  height: $jrlg-btn-height;
  border-radius: $btn-border-radius;
}

.alert-success {
  color: $success !important;
  background: transparent;
  border: 1px solid $success;
}

.alert-danger {
  color: $danger !important;
  background: transparent;
  border: 1px solid $danger;
}

textarea.form-control.is-invalid, .form-control.is-invalid {
  border-color: $danger !important;
}

.tooltip-container {
  display: block;
  width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-tooltip {
  visibility: hidden;
  // visibility: visible;
  position: absolute;
  // display: inline-block;
  white-space: normal !important;
  left: 66%;
}

.tooltip-container:hover .custom-tooltip {
  // visibility: visible;
}

.custom-tooltip .tooltiptext {
  // visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 999;
  // top: 0px;
  // left: 100%;
  overflow-y: auto;
  max-height: 250px;
}

.custom-tooltip::after {
  content: "";
  position: absolute;
  top: 6%;
  right: 100%;
  margin-top: 8px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }
.slick-slide {
  padding: 0px 12px;
}
.slick-card {
  height: 313px;
}
.slick-prev:before, .slick-next:before {
  color: $primary;
}

.topcards-link {
  text-decoration: none;
  color: inherit;
}

.table-spinner {
  display: block;
  position: absolute;
  left: calc(50% - 35px);
  top: 50%;
}

.selected {
  background-color: $primary !important;
  color: $white !important;
}

.background-grey {
  background-color: #dee2e6;
}

.text-info:hover {
  cursor: pointer;
}

/* GUEST COUNTER TABS */
.tabnav {
  border-top: 1px solid $modal-header-border-color;
  border-bottom: 1px solid $modal-header-border-color;    
  flex-wrap: nowrap;
}

.tabnav-link, .tabnav-link:hover, .tabnav-link:focus{
  color: $modal-label-color;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.tabnav-link.active, .tabnav-link:focus {
  border-bottom: 4px solid $primary;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

textarea::placeholder {
  color: $placeholder-color !important;
}

textarea::-ms-input-placeholder { /* Edge 12 -18 */
  color: $placeholder-color !important;
}

button:hover {
  cursor: pointer;
}

/* GUEST COUNTER - VIEW DETAILS */
.infoCard {
  border-radius: 20px;
  border: 1px solid $modal-content-border-color;
  min-height: 200px;
  max-width: 462px;
  color: $modal-label-color;
}

.infoCardLabel {
  position: relative;
  top: -12px;
  margin: 0 30px;
}

.infoCardChildren {
  padding: 16px;
  padding-top: 0px;
  display: flex;
  // flex-wrap: wrap;
  // align-content: stretch;
  width: 100%;
  min-height: inherit;
  flex-direction: column;
  justify-content: space-around;
}

.infoCardChildren div {
  width: 100%;
  // height: calc(90% - 200px);
  display: flex;
}

.infoCardChildren div p{
  flex: 1 0;
  margin-bottom: 0px !important;
}

div.viewDetails div.infoCard:first-child 
div.infoCardChildren div:nth-child(3) p:last-child {
  max-height: 120px;
  overflow-y: auto;
}

div.viewDetails div.infoCard:first-child 
div.infoCardChildren div p:nth-child(2) {
  flex: 2 0 !important;
}

.infoCardChildren div p:nth-of-type(even){
  font-weight: bold;
}

div.viewDetails div.infoCard:nth-of-type(2)  
div.infoCardChildren > div:nth-of-type(2) p:first-child {
  flex: 1 0 28%;
} 

div.viewDetails div.infoCard:nth-of-type(2)  
div.infoCardChildren > div:nth-of-type(2) p:last-child {
  flex: 2 0 72%;
} 

div.viewDetails div.infoCard:nth-of-type(2)  
div.infoCardChildren > div:nth-of-type(1) div:first-child {
}

// div[class^="col-"]:nth-child(2) div.infoCardChildren  {
//   justify-content: flex-start;
// }

// div[class^="col-"]:nth-child(2) div.infoCardChildren  div{
//   padding: 16px;
// }
// .infoCardChildren div label:nth-child(2)
// {
//   // flex: 2;
//   flex: 1;
//   // flex: 2 1 min-content;
// }

 /* Responsive layout - makes a one column-layout instead of two-column layout */
 @media (max-width: 800px) {
  //marital status mobile view
  div.viewDetails div.infoCard:nth-of-type(2)  
  div.infoCardChildren > div:nth-of-type(2) p:first-child {
    flex: 1 0;
  }

  div.viewDetails div.infoCard:nth-of-type(2)  
  div.infoCardChildren > div:nth-of-type(2) p:last-child {
    flex: 1 0;
  }
  // other info entered on columnwise in mobile view
  div.viewDetails div.infoCard:nth-of-type(2)  
  div.infoCardChildren > div:nth-of-type(1) {
    flex-direction: column;
  }
  div.viewDetails div.infoCard:nth-of-type(2)  
  div.infoCardChildren > div:nth-of-type(1) 
  div:first-child {
    padding-bottom: 20px;
  }
  div.viewDetails div.infoCard:nth-of-type(2)  
  div.infoCardChildren > div:nth-of-type(1) 
  div:first-child p:last-child{
    padding-left: 2px !important;
  }
  // div[class^=col-]:nth-child(2) div.infoCard:nth-of-type(2) 
  // div.infoCardChildren div label:last-child{
  //   // background-color: lightblue;
  //   text-align: center;
  // }
}

/* GUEST COUNTER - VERTICAL STEPPER */

.verticalStepper { margin: 0; padding: 0; width: 100%; height: 100%; display: flex;
    flex-direction: column;}

.verticalStepper li { 
  display: flex; 
  color: $modal-label-color;
  width: 100%;
  align-items: flex-start;
}

.verticalStepper .stepcircle { 
  position: relative;
}

.verticalStepper .stepcircle::after { 
   content: "";
   position: absolute;
   z-index: 2;
   left: -6px;
  //  bottom: 0px;
   top: 34px;
   border-radius: 50%;
   background: $white;
   border: 1px $primary solid;
   width: 12px;
   height: 12px;
}

.verticalStepper > .guestJourney:first-child > .stepContent 
> li:first-child > .stepcircle::after{
  background: $primary;
}

.verticalStepper > .guestJourney:last-child > .stepContent 
> li:last-child > .stepline::before{
  display: none;
}

.verticalStepper .stepline {
  padding: 0 0px 24px 24px;
  position: relative;
  display: inherit;
}

.stepline > p {
  margin-bottom: 0;
  position: relative;
  top: 28px;
}

.verticalStepper .stepline::before {
   content: "";
   position: absolute;
   z-index: 1;
   left: 0;
   top: 46px;
   height: 100%;
   border-left: 1px $primary solid;
}
.guestJourney {
  display: flex;
}

.stepImage {
  width: 100px;
  align-self: flex-end;
  flex: 0 0 auto;
  // display: flex;
}
.stepImage img {
  object-fit: contain;
  width: 100%;
}

.stepContent {
  // width: 85%;
  // background: linen;
}

.stepContent span p{
  text-wrap:  wrap;
}
.followNoteContainer {
  visibility: visible;
    max-width: 321px;
    max-height: 114px;
    position: relative;
    display: block;
}
.followNote {
  max-width: inherit;
    background: $black;
    color: $white;
    text-wrap: wrap;
    border-radius: 8px;
    display: inherit;
    max-height: inherit;
    overflow-y: auto;
    position: relative;
    left: 24px;
    top: 6px;
}

.followNoteContainer::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0px;
  height: 100%;
  border-left: 1px $primary solid;
}

.lineGap {
  position: relative;
  height: 100px;
}

.lineGap::before {
  content: "";
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 46px;
    height: 100%;
    border-left: 1px $primary solid;
}

@media (max-width: 800px) {
  .stepImage {
    width: 50px;
  } 
  .followNoteContainer {
    // width: 100%;
    width: calc(100% - 24px);
  }
  .lineGap::before {
    left: 50px;
    // left: calc(50% - 105px);
  }
}

.verticalStepper > .guestJourney:nth-child(3) > .stepContent > 
li:first-child > .stepcircle::after{
  background: $primary;
}