.modal-content {
    background-color: $modal-bg;
    border-width: $modal-border-width;
    border-color: $modal-content-border-color;
    border-radius: $modal-border-radius;
}
.modal-header {
    font-size: $headings-font-size;
    border-bottom-color:$modal-header-border-color;
}
.modal-header button {
    visibility: hidden;
}
.modal-body-label {
    color: $modal-label-color!important;
    margin-bottom: 0.1rem !important;
}
.modal-body-info-label {
    color: $modal-content-border-color !important;
    margin-bottom: 0.1rem !important;
}
.modal-body-input {
    border-color: $modal-content-border-color  !important;
    border-radius: $modal-border-radius;
}
.modal-body-textarea {
    resize: none;
    border-color: $modal-content-border-color  !important;
}
.modal-footer {
    border-top: none;
}

.modal-btn-primary{
    --bs-btn-hover-bg: #f97e3a;
    --bs-btn-hover-border-color: #f97e3a;
    width: $btn-modal-width !important;
    height: $btn-modal-height !important;
    border-radius: $btn-modal-border-radius !important;
}
  
.modal-btn-secondary{
--bs-btn-color: #F26E24;
--bs-btn-bg: #ffffff;
--bs-btn-border-color: #F26E24;
--bs-btn-hover-color: #F26E24;
--bs-btn-hover-bg: #fcfcfc;
--bs-btn-hover-border-color: #F26E24;
width: $btn-modal-width !important;
height: $btn-modal-height !important;
border-radius: $btn-modal-border-radius !important;
}